# Default: ignore everything to prevent accidental data leaks.
*

# Allowlist: publish code/docs only.
!.gitignore
!README.md
!LICENSE
!index.html
!appreciation.png
!wrangler.jsonc
!chatweave-version.json
!sync_version.js
!assets/
!assets/*.svg
!edge_exporter_lite/
!edge_exporter_lite/**
